.posts {
  .buy-now {
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #50fc50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .remove {
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #e93d3d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
