.post-details {
  justify-content: center;
  display: flex;
  flex: 1fr 1fr;
  height: 300px;

  img {
    max-height: 500px;
    max-width: 400px;
    min-width: 300px;
    min-height: 400px;
    margin-top: 100px;
    // margin-left: 80px;
    object-fit: cover;
    // content: ;
  }

  height: auto;
  .description {
    // descr
    margin-top: 200px;
    margin-left: 20px;
    .icons {
      display: grid;
      grid-template-columns: repeat(2, auto);
      button {
        // mar
        margin-top: 30px;
        width: 200px;
        padding: 6px;
        // border-radius: 20;
        border: 1px solid transparent;

        // color: re;
        // margin: 10px;
      }
      .favorite {
        // background-color: ;
        background-color: #ffd4d4;
      }
      .shopping-bag {
        background-color: #99ff99;
      }
      .buy-now{
        padding: 10px;
        margin-top: 0px;
        width: 200%;
        text-align: center;
        font-weight: 600;
        // background-color: gray;
        // font-
        // text-decoration: ;
      
      }
      .buy-now:hover{
        cursor: pointer;
        // box-shadow: #99ff99;
        background-color: rgb(214, 214, 214);
      }
    }
  }
}
